<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:oxm="http://www.springframework.org/schema/oxm"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd   
       http://www.springframework.org/schema/oxm 
       http://www.springframework.org/schema/oxm/spring-oxm.xsd">
  
     <bean id="empBean" class="com.aakash.spring.Employee">
     <constructor-arg value="101"></constructor-arg>
     <constructor-arg value="aakash"></constructor-arg>
     <constructor-arg value="45000"></constructor-arg>
      <constructor-arg>
      <ref bean="addBean"></ref>
      </constructor-arg>
      </bean> 
      <bean id="addBean" class="com.aakash.spring.Address">
     <constructor-arg value="gharkul road"></constructor-arg>
     <constructor-arg value="Navi Mumbai"></constructor-arg>
     <constructor-arg value="Maharashtra"></constructor-arg>
     <constructor-arg value="India"></constructor-arg>
      </bean> 
 </beans>